header {
    width: 100%;
    &:after {
        @include clearfix();
        @include clearfix-after();
    }
    
    h3 {
        color: $grey;
        border-radius: 5px;
        text-align: center;
        float: left;
        margin: 5px auto;
        padding: 0.5em;
        		        
        @media screen and (min-width: $query__small) {
            padding: 1em 0.1em;
            width: 50%;
        }
        
        @media screen and (min-width: $query__medium) {
            padding: 0.5em;
        }
        
        @media screen and (min-width: $query__large) {
            padding: 1em 0.5em;
            width: 20%;
        }
    }
    
    h4 {
        float: right;
        text-align: center;
        margin: 0.5em 1em;
        
        a {
            color: $grey;
            text-decoration: none;
            width: 100%;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}