.user_creds_div {
	text-align: center;
	padding: 1% 5%;
	border-radius: 6px;
	
	h2,h3 {
		text-align: center;
	}
	
	h2 {
		color: $grey;
		border: 3px groove $grey;
		padding: 0.5em;
		border-radius: 5px;
	}
	
	.input_div {
		width: 100%;
		margin: 1em auto;
		
		input {
			width: 90%;
			border: 1px solid;
			border-radius: 6px;
			padding: 2% 5%;
		}
		
		button {
			width: 100%;
			padding: 0.5em;
			border-radius: 6px;
			margin: 0.5em auto;
		}
		
		p {
			width: 100%;
			span {
				color: $blue;
				cursor: pointer;
				display: inline;
			}
		}
	}
	
	@media screen and (min-width: $query__small) {
		width: 95%;
		padding: 2.5%;
	}
	
	@media screen and (min-width: $query__large) {
		width: 30%;
		margin: 3em auto;
	}
}
