/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Revalia");
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  position: relative;
  height: 100vh; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  border: 0;
  padding: 0;
  margin: 0; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

ul {
  margin: 0;
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0; }

/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
.blue {
  color: #06c1ff; }

/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Structure
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Mixins
--------------------------------------------------------------*/
/* Center block */
/* Clearfix */
/* Clear after (not all clearfix need this also) */
/*  Column mixin */
/*  Image Align Helper  */
/*--------------------------------------------------------------
# Core
--------------------------------------------------------------*/
body {
  background-color: rgba(0, 0, 0, 0.75); }

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
  position: relative; }
  @media screen and (min-width: 300px) {
    .container {
      width: 100%; } }
  @media screen and (min-width: 600px) {
    .container {
      width: 80%; } }
  @media screen and (min-width: 900px) {
    .container {
      position: relative; } }
  .container:after {
    content: '';
    display: table;
    clear: both; }

.column {
  float: left;
  text-align: left; }
  @media screen and (min-width: 300px) {
    .column {
      width: 90%;
      padding: 5% 0 5% 10%; } }
  @media screen and (min-width: 600px) {
    .column {
      width: 15em;
      padding: 3em 0 0; }
      .column ul {
        padding: 0; } }
  @media screen and (min-width: 900px) {
    .column {
      width: 25%; } }

ul {
  list-style-type: none; }

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0 0 1.5em; }

strong {
  font-weight: 700; }

button, .button {
  border: 2px solid;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: .3em;
  padding: 1em;
  text-transform: uppercase;
  border-radius: 1em; }

span {
  display: block; }

.user_creds_div {
  width: 30%;
  margin: 7em auto;
  text-align: center;
  border: 1px solid;
  padding: 1% 5%;
  border-radius: 6px; }
  .user_creds_div h3 {
    text-align: center; }
  .user_creds_div .input_div {
    width: 100%;
    margin: 1em auto; }
    .user_creds_div .input_div input {
      width: 90%;
      border: 1px solid;
      border-radius: 6px;
      padding: 2% 5%; }
    .user_creds_div .input_div button {
      width: 100%;
      padding: 0.5em;
      border-radius: 6px;
      margin: 0.5em auto; }
    .user_creds_div .input_div p {
      width: 100%; }
      .user_creds_div .input_div p span {
        color: #06c1ff;
        cursor: pointer;
        display: inline; }

.users_div {
  width: 20%;
  float: left;
  border: 1px solid black;
  height: 28em;
  padding: 0.5em;
  position: relative;
  background-color: #d5d5d5;
  border-radius: 0 0 6px 6px; }
  .users_div:after {
    content: "";
    display: table;
    table-layout: fixed;
    clear: both; }
  .users_div .users_div_container {
    height: 100%;
    padding: 0.5em; }
    .users_div .users_div_container ul {
      margin: 0;
      padding: 0; }
      .users_div .users_div_container ul li {
        padding: 0.25em 0;
        cursor: pointer; }
        .users_div .users_div_container ul li:hover {
          color: #06c1ff; }
        .users_div .users_div_container ul li i {
          font-size: 1em;
          margin-left: 0.5em;
          color: #0a395d;
          position: relative;
          top: 3px; }

.message_div {
  width: 77%;
  float: right;
  margin: 0 0 0 1%;
  height: 28.5em;
  border-radius: 0 0 6px 6px;
  position: relative; }
  .message_div:after {
    content: "";
    display: table;
    table-layout: fixed;
    clear: both; }
  .message_div .messageList_div {
    border: 1px solid black;
    height: 100%;
    border-radius: 0 0 6px 6px;
    background-color: #d5d5d5;
    position: absolute;
    width: 100%;
    padding: 0.25em 0; }
    .message_div .messageList_div div {
      overflow-y: scroll;
      height: 100%;
      width: 100%; }
      .message_div .messageList_div div:nth-child(even) {
        background-color: #828282; }
    .message_div .messageList_div span {
      display: inline; }
    .message_div .messageList_div p {
      margin: 0.15em auto;
      padding: 0.25em; }
      .message_div .messageList_div p .username {
        color: #06c1ff; }
      .message_div .messageList_div p .message {
        color: #0a395d; }
      .message_div .messageList_div p i {
        font-size: 1em;
        float: right;
        position: relative;
        right: 1em;
        display: none;
        cursor: pointer;
        margin: 0 5px 0 2px; }
        .message_div .messageList_div p i:hover {
          color: #06c1ff; }
      .message_div .messageList_div p:hover {
        background-color: #828282; }
        .message_div .messageList_div p:hover i {
          display: inline; }
      .message_div .messageList_div p input {
        width: 80%; }

.textarea_div {
  width: 100%;
  padding: 0.5em 0;
  clear: both; }
  .textarea_div textarea {
    width: 85%;
    border: 1px solid;
    border-radius: 5px;
    height: 1.75em;
    padding: 0.75em;
    margin-right: 0.25em;
    overflow: hidden; }
  .textarea_div button {
    float: right;
    border-radius: 0.5em; }

/*--------------------------------------------------------------
# Heading
--------------------------------------------------------------*/
header {
  width: 100%; }
  header:after {
    content: "";
    display: table;
    table-layout: fixed;
    clear: both; }
  header h3 {
    color: #d5d5d5;
    border-radius: 10px;
    text-align: center;
    float: left;
    margin: 5px auto; }
    @media screen and (min-width: 300px) {
      header h3 {
        padding: 0 0.1em;
        border: none; } }
    @media screen and (min-width: 600px) {
      header h3 {
        border: 2px groove; } }
    @media screen and (min-width: 900px) {
      header h3 {
        padding: 0;
        min-width: 8em;
        max-width: 8em;
        cursor: pointer;
        padding: 0; } }
    header h3 span.blue {
      margin: 0 5px;
      display: inline;
      font-weight: bolder; }
  header h4 {
    float: right; }
    header h4 a {
      color: #d5d5d5;
      margin-left: 1em;
      text-decoration: none; }
      header h4 a:hover {
        text-decoration: underline; }

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
  background-color: #d5d5d5;
  width: 100%;
  position: absolute;
  bottom: 0; }
  footer p {
    text-align: center;
    font-size: 0.65em;
    width: 100%; }

/*# sourceMappingURL=style.css.map */
